<div id="clue-a-day">
  <p>{{ .clue }}</p>
  <div id="crossword-container"></div>
  <div class="clue-check-container" style="margin-top: 10px">
    <button id="submit-button">Submit</button>
    <div id="result" style="margin-top: 8px; font-size: 18px"></div>
  </div>
</div>
<link rel="stylesheet" href="/assets/clue.css" />
<script type="module">
  import { generateInteractiveCrossword, compareHashes } from '/assets/clue.min.js';
  const container = document.getElementById("crossword-container");
  const crossword = generateInteractiveCrossword({{ .answerLen }}, {
      cellColor: "#516770",
      focusColor: "#695170",
  });
  const getAnswerHash = () => {{.answerHash}}

  const submitButton = document.getElementById("submit-button");

  submitButton?.addEventListener("click", () =>
    compareHashes(getAnswerHash, crossword.getUserInputHash)
  );
</script>
