<div id="clue-a-day">
  <p>{{ .clue }}</p>
  <div id="crossword-container"></div>
  <div class="clue-button-container">
    <div class="clue-check-container">
      <button id="submit-button">Submit</button>
      <div id="result"></div>
    </div>
    <div class="check-dropdown">
      <button id="check-button" class="button">Check</button>
      <div class="check-dropdown-menu">
        <button id="check-letter-button" class="button">
          Check Letter
        </button>
        <button id="check-word-button" class="button">Check Word</button>
      </div>
    </div>
    <div class="clue-check-container">
      <button id="reveal-button">Reveal Letter</button>
    </div>
  </div>
</div>
<!-- <link rel="stylesheet" href="/assets/clue.css" /> -->

<script type="module">
  import { generateInteractiveCrossword, compareHashes } from '/assets/clue.min.js';
  
  const crossword = generateInteractiveCrossword({{ .answerLen }});
  const getAnswerHash = () => {{.answerHash}}

  const submitButton = document.getElementById("submit-button");

  submitButton?.addEventListener("click", () =>
    compareHashes(getAnswerHash, crossword.getUserInputHash)
  );

  const revealButton = document.getElementById("reveal-button");

  revealButton?.addEventListener("click", () =>
    crossword.revealLetter({{.base64}})
  );

  const checkLetter = document.getElementById("check-letter-button")

  checkLetter.addEventListener("click", () =>{
    crossword.checkLetter({{.base64}})
  })
  
  const checkWord = document.getElementById("check-word-button")
  
  checkWord.addEventListener("click", () =>{
    crossword.checkWord({{.base64}})
  })
</script>
